node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
static/flows-sw.js
static/flows-sw.js.map
static/flows-sw-seed.js

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
